h2, TextInput {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  margin-top: 80px;
}

h2 {
  color: #1E272F; /* Chick-fil-A Red */
  font-family: 'Apercu', Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 45px;
}

/*add formatting to post message and table